<div class="container card">
    <div class="card-body">
        <div *ngIf="invalidDeal">
            <h5><span>Invalid Deal</span> {{invalidDeal.id}}</h5>
            <hr>
            <app-alert-error></app-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tag Id</span></dt>
                <dd>
                    <span>{{invalidDeal.tagId}}</span>
                </dd>
                <dt><span>From Iso Code</span></dt>
                <dd>
                    <span>{{invalidDeal.fromIsoCode}}</span>
                </dd>
                <dt><span>To Iso Code</span></dt>
                <dd>
                    <span>{{invalidDeal.toIsoCode}}</span>
                </dd>
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{invalidDeal.time}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{invalidDeal.amount}}</span>
                </dd>
                <dt><span>Source</span></dt>
                <dd>
                    <span>{{invalidDeal.source}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{invalidDeal.fileType}}</span>
                </dd>
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{invalidDeal.reason}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
