<!--<nav class="navbar navbar-dark navbar-expand-md bg-dark">-->
    <!--<a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">-->
        <!--<span class="logo-img"></span>-->
        <!--<span class="navbar-title">Warehouse</span> <span class="navbar-version">{{version}}</span>-->
    <!--</a>-->
    <!--<a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">-->
        <!--<fa-icon icon="bars"></fa-icon>-->
    <!--</a>-->
    <!--<div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">-->
        <!--<ul class="navbar-nav ml-auto">-->
            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                <!--<a class="nav-link" routerLink="/" (click)="collapseNavbar()">-->
                    <!--<span>-->
                        <!--<fa-icon icon="home"></fa-icon>-->
                        <!--<span>Deal</span>-->
                    <!--</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                <!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">-->
                    <!--<span>-->
                        <!--<fa-icon icon="th-list"></fa-icon>-->
                        <!--<span>-->
                            <!--Entities-->
                        <!--</span>-->
                    <!--</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="deal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
                            <!--<span>Deal</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="file-loader" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
                            <!--<span>Loader</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>Warehouse</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>