<div class="container card">
    <div class="card-body">
        <h2 id="page-heading">
            <span>Deals</span>
        </h2>
        <div class="row">
            <app-alert-error></app-alert-error>
            <app-alert></app-alert>
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                               name="currentSearch" placeholder="Search...">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="table-responsive" *ngIf="deals">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="tagId"><span>Tag</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="fromIsoCode"><span>From Iso Code</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="toIsoCode"><span>To Iso Code</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="amount"><span>Amount</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="source"><span>Source</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let deal of deals ;trackBy: trackId">
                    <td><a [routerLink]="['/deal', deal.id, 'view' ]">{{deal.tagId}}</a></td>
                    <td>{{deal.fromIsoCode}}</td>
                    <td>{{deal.toIsoCode}}</td>
                    <td>{{deal.amount}}</td>
                    <td>{{deal.source}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/deal', deal.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="deals && deals.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                                [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
