<div class="row justify-content-center">
    <div class="col-8 card">
        <div class="card-body">
            <div *ngIf="summary">
                <h2><span>Summary</span> {{summary.id}}</h2>
                <hr>
                <app-alert-error></app-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span>File Name</span></dt>
                    <dd>
                        <span>{{summary.source}}</span>
                    </dd>
                    <dt><span>Process Duration</span></dt>
                    <dd>
                        <span>{{summary.duration}}</span>
                    </dd>
                    <dt><span>Total Imported</span></dt>
                    <dd>
                        <span>{{summary.total}}</span>
                    </dd>
                    <dt><span>Total Valid</span></dt>
                    <dd>
                        <span>{{summary.valid}}</span>
                    </dd>
                    <dt><span>Total Not Valid</span></dt>
                    <dd>
                        <span>{{summary.invalid}}</span>
                    </dd>
                </dl>

                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
