<div>
    <h2 id="page-heading">
        <span>Deals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deal" [routerLink]="['/deal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Deal
            </span>
        </button>
    </h2>
    <app-alert></app-alert>
    <br/>
    <div class="table-responsive" *ngIf="deals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tagId"><span>Tag Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromIsoCode"><span>From Iso Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toIsoCode"><span>To Iso Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="time"><span>Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="source"><span>Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceFormat"><span>Source Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let deal of deals ;trackBy: trackId">
                <td><a [routerLink]="['/deal', deal.id, 'view' ]">{{deal.id}}</a></td>
                <td>{{deal.tagId}}</td>
                <td>{{deal.fromIsoCode}}</td>
                <td>{{deal.toIsoCode}}</td>
                <td>{{deal.time | date:'medium'}}</td>
                <td>{{deal.amount}}</td>
                <td>{{deal.source}}</td>
                <td>{{deal.sourceFormat}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/deal', deal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/deal', deal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'deal', { outlets: { popup: deal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
